# Heart Dareboost
DAREBOOST_API_TOKEN=

# Heart Observatory
# Optional, needed only with dockerized version Mozilla Observatory
# OBSERVATORY_API_URL=
# OBSERVATORY_ANALYZE_URL=

# Heart BigQuery
GOOGLE_APPLICATION_CREDENTIALS={"type": "service_account","project_id": "","private_key_id": "","private_key": "","client_email": "","client_id": "","auth_uri": "","token_uri": "","auth_provider_x509_cert_url": "","client_x509_cert_url": ""}

# Heart Slack
SLACK_API_TOKEN=
SLACK_CHANNEL_ID=
