@font-face {
    font-family: "Gibson";
    src: url("../fonts/gibson/light.woff2") format("woff2"),
            url("../fonts/gibson/light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Gibson";
    src: url("../fonts/gibson/regular.woff2") format("woff2"),
            url("../fonts/gibson/regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Gibson";
    src: url("../fonts/gibson/italic.woff2") format("woff2"),
            url("../fonts/gibson/italic.woff") format("woff");
    font-style: italic;
}