# Logs
*.log

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Coverage report
coverage

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Common toolchain intermediate files
lib

# OS X temporary files
.DS_Store

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

# Visual Studio Code
.vscode