doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Heart: a tool that automates the web quality measurements
    link(rel="stylesheet", href="styles/main.scss")
    link(rel="author", href="../humans.txt", type="text/plain")
  body
    h1 Heart by Fabernovel
