doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Heart: a tool that automates the web quality measurements
    link(rel="stylesheet", href="styles/main.scss")
    link(rel="author", href="../humans.txt", type="text/plain")
  body
    section.section
      .container
        h2 A tool that automates the web quality measurements
