section#contributing.section.contributing.has-background-white
  .container
    .contributing__block
      .contributing__content
        p.contributing__text Heart is an open source tool, contribute to its development!
        a.cta.-inverse.-small.-on-pink(
          href='https://gitlab.com/fabernovel/heart/-/blob/master/CONTRIBUTING.md',
          target='_blank',
          rel='noreferrer'
        ) I contribute
