section#how-it-works.section
  .container
    +title('How the tool works')

    p.catchphrase.-light.is-hidden-mobile
      | The communication flow between the user, Heart and the third party services is illustrated in the diagram below.

    -
      const user = 'User'
      const steps = {
        1: 'A user asks to analyze a URL',
        2: 'The third party analysis service is requested',
        3: 'Upon analysis completed, the results are aggregated',
        4: 'The analysis results are transmit to third party services to be processed'
      }
      const analysisModules = [
        // Keep this order of modules to have greenit in the center of the quincunx in mobile version
        'dareboost',
        'google-lighthouse',
        'greenit',
        'qualys-ssl-labs',
        'mozilla-observatory'
      ]
      const listenerModules = [
        'google-bigquery',
        'slack'
      ]

    //- Desktop
    .schema.is-hidden-touch
      .schema__columns
        //- User
        .schema__column
          .schema__square.-big= user

        //- Steps 1 and 4 + listener modules
        .schema__column.-isStep
          p.schema__info= steps[1]
          .schema__arrow
            .schema__arrowNumber 1
            +svg('arrow-horizontal-1', true, 'arrows/')
          .schema__arrow
            .schema__arrowNumber 4
            +svg('arrow-horizontal-4', true, 'arrows/')
          p.schema__info= steps[4]
          .schema__listeners
            each listenerModule in listenerModules
              .schema__square
                +svg('icon-' + listenerModule, true, 'services/')

        //- Heart
        .schema__column
          .schema__square.-tool
            +svg('branding-logo')
            +svg('branding-name')

        //- Steps 2 and 3
        .schema__column.-isStep
          p.schema__info= steps[2]
          .schema__arrow
            .schema__arrowNumber 2
            +svg('arrow-horizontal-2', true, 'arrows/')
          .schema__arrow
            .schema__arrowNumber 3
            +svg('arrow-horizontal-3', true, 'arrows/')
          p.schema__info= steps[3]

        //- Analysis modules
        .schema__column
          each analysisModule in analysisModules
            .schema__square
              +svg('icon-' + analysisModule, true, 'services/')
    //- Mobile
    .schema.is-hidden-desktop
      .schema__columns
        //- User
        .schema__column
          .schema__square.-big= user

        //- Step 1
        .schema__column.-isStep.-isStep1
          .schema__arrow
            .schema__arrowNumber 1
            +svg('arrow-vertical-1', true, 'arrows/')
          p.schema__info= steps[1]

        //- Heart
        .schema__column
          .schema__square.-tool
            +svg('branding-logo')
            +svg('branding-name')

        //- Step 2
        .schema__column.-isStep.-isStep2
          .schema__arrow
            .schema__arrowNumber 2
            +svg('arrow-vertical-2-3', true, 'arrows/')
          p.schema__info= steps[2]

        //- Analysis modules
        .schema__column
          .schema__analysisContainer
            each analysisModule in analysisModules.slice(0, 2)
              .schema__square
                +svg('icon-' + analysisModule, true, 'services/')
          .schema__analysisContainer
            each analysisModule in analysisModules.slice(2, -2)
              .schema__square
                +svg('icon-' + analysisModule, true, 'services/')
          .schema__analysisContainer
            each analysisModule in analysisModules.slice(3)
              .schema__square
                +svg('icon-' + analysisModule, true, 'services/')

        //- Step 3
        .schema__column.-isStep.-isStep3
          .schema__arrow
            .schema__arrowNumber 3
            +svg('arrow-vertical-2-3', true, 'arrows/')
          p.schema__info= steps[3]

        //- Heart
        .schema__column
          .schema__square.-tool
            +svg('branding-logo')
            +svg('branding-name')

        //- Step 4
        .schema__column.-isStep.-isStep4
          .schema__arrow
            .schema__arrowNumber 4
            +svg('arrow-vertical-4', true, 'arrows/')
          p.schema__info= steps[4]
          .schema__listeners
            each listenerModule in listenerModules
              .schema__square
                +svg('icon-' + listenerModule, true, 'services/')

        //- User
        .schema__column
          .schema__square.-big= user
