section.section#in-few-words
  .container
    .card
      +title('Heart in a few words')

      -
        const items = [
          {
            icon: 'shape',
            title: 'Analysis automation',
            description:
              'In order to save precious time and thus maximize \
                the added value of your actions.'
          },
          {
            icon: 'social',
            title: 'Open source',
            description:
              'We believe that the issues that we\'re facing \
               and that led us to develop Heart, most likely involve \
               other industry players. The source code is available on \
               <a href="https://gitlab.com/fabernovel/heart/" target="_blank" rel="noreferrer" class="link">GitLab</a>.'
          },
          {
            icon: 'puzzle',
            title: 'Modular',
            description:
              'To meet the needs of each user. \
               Thus, the majority of features are optional.'
          }
        ]

      // Large screen only (> 768px)
      .columns.is-variable.is-hidden-mobile
        each item, index in items
          .column
            +item(item)

      // Mobile only with carousel (<= 768px)
      .slider.is-hidden-tablet
        // Carousel
        .slider__track
          each item, i in items
            .slider__slide
              +item(item)

        // Bullets
        nav.slider__dots.is-hidden-tablet
          ul.slider__dotsWrap
            each _, i in Array(items.length)
              li
                button.slider__dotsItem(data-index=i)
