section.section#introduction.introduction
  .container
    .columns.introduction__columns
      .column.has-text-centered
        +img.introduction__image(
          src= 'assets/images/heart-ecosystem.png',
          alt= 'Services compatible with Heart',
          sizes= [360],
          densities= ['2x']
        )
      .column.is-two-fifths
          h2.introduction__title A tool that automates the web quality measurements
          p.introduction__description Heart manages the various services required to perform the analysis of a webpage.