.catchphrase {
  margin-bottom: rem(25);
  color: $color-astronaut;
  font-size: rem(26);
  text-align: center;

  @include from($tablet) {
    margin: rem(32) 0 rem(15) 0;
  }

  @include mobile {
    br {
      display: block;
      margin-bottom: rem(20);
      content: "";
    }
  }

  &.-light {
    color: $grey-dark;
    font-weight: $weight-light;
  }
}
