.code {
  padding: rem(60) rem(40);
  color: $white;
  white-space: pre-line;
  background: $black-bis;
  border-radius: rem(4);

  &__step {
    display: block;
    margin: rem(32) 0 rem(16);
    color: $color-supernova;
    font-weight: bold;
  }

  &__title {
    display: block;
    font-style: italic;
    text-decoration: underline;
  }
}
