.compatibleServices {
  margin-top: rem(60);

  @include from($tablet) {
    margin-top: rem(35);
  }

  .column {
    padding: rem(20);
  }

  &__item {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 rem(3) 0;
    transition: border-color 0.3s;

    img {
      filter: grayscale(1);
      transition: filter 0.3s, transform 1s;
    }

    &:hover img {
      transform: translateY(-rem(10));
      filter: grayscale(0);
    }
  }

  .slider__slide img {
    height: rem(76);
  }
}
