.cta {
  display: block;
  width: 100%;
  max-width: rem(315);
  margin: 0 auto;
  padding: rem(10) rem(46);
  color: $white;
  font-size: rem(26);
  line-height: rem(31);
  text-align: center;
  background-color: $color-honey-flower;
  border: 0;
  border-radius: rem(24);
  cursor: pointer;
  transition: background-color .3s, color .3s, box-shadow .3s;

  @include from($tablet) {
    display: initial;
    width: auto;
    margin: initial;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 rem(10) rem(2) $color-razzle-rose;
  }

  &:hover {
    color: $white;
    background-color: $color-razzle-rose;
  }

  &.-inverse:not(:hover) {
    color: $color-honey-flower;
    background-color: $white;
  }
}
