.footer {
  background-repeat:  no-repeat;
  background-position: top center;
  background-size: cover;
  @include background-responsive(
    '../assets/images/galaxy-background',
    'jpg',
    (1600, 1366, 1024, 768, 640, 375)
  );

  &__column {
    margin-bottom: rem(50);

    @include from($tablet) {
      margin-bottom: 0;
    }
  }

  &__container {
    padding: rem(50) rem(30);
    color: $white;
    text-align: center;

    @include from($tablet) {
      text-align: left;
    }
  }

  &__link {
    color: $white;
    font-weight: $weight-light;
    font-size: rem(18);
    line-height: 2.22;
    transition: color .3s;

    &:hover {
      color: rgba($white, .6);
    }
  }

  &__logo {
    width: rem(42);
  }

  &__title {
    margin-bottom: rem(23);
    color: $white;
    font-size: rem(22);
  }

  // to target logo flex item
  .column:first-child {
    display: inline-flex;
  }
}
