.introduction {

  &__columns {
    @include from($tablet) {
      flex-direction: row-reverse;
    }
  }

  &__description {
    margin-bottom: rem(50);
    color: $white;
    font-weight: $weight-light;
    font-size: rem(28);
    line-height: 1.54;
    text-align: center;

    @include from($tablet) {
      margin-bottom: rem(65);
      text-align: left;
    }
  }

  &__image {
    width: 100%;
    max-width: rem(450);

    @include from($tablet) {
      max-width: rem(622);
    }
  }

  &__title {
    margin-bottom: rem(40);
    color: $white;
    font-size: rem(40);
    line-height: 1.25;
    text-align: center;

    @include from($tablet) {
      margin-bottom: rem(25);
      text-align: left;
    }
  }
}
