.schema {
  $root: &;

  position: relative;
  display: flex;
  justify-content: center;
  margin-top: rem(60);

  @include desktop-only() {
    transform: scale(0.9);
  }

  &__analysisContainer {
    display: flex;
    margin-bottom: rem(16);

    &:last-child {
      margin: 0;
    }

    > * {
      margin-right: rem(16);
      margin-left: rem(16);
    }
  }

  &__arrow {
    $arrow: &;

    position: relative;

    @include desktop {
      margin: rem(20) 0;
    }

    @include touch {
      left: -rem(13);
    }

    &Number {
      position: absolute;
      left: calc(100% - #{rem(4)});
      color: $color-madison;
      font-weight: $weight-bold;
      font-size: rem(30);
      transform: translateX(-50%);

      @include desktop {
        top: -rem(12);
        left: calc(50% + #{rem(4)});
      }
    }
  }

  &__column {
    border-color: rgba($grey-lighter, 0.5);
    border-style: dashed;
    border-width: rem(2) 0 0 0;

    @include desktop {
      padding: rem(30) 0 rem(75) 0;
      border-width: 0 0 0 rem(2);
    }

    &:last-child {
      border-width: rem(2) 0;

      @include desktop {
        border-width: 0 rem(2);
      }
    }

    &.-isStep {
      position: relative;
      width: rem(300);
      padding-right: rem(7);
      padding-left: rem(7);

      @include touch {
        > *:not(#{$root}__arrow) {
          position: absolute;
        }
      }

      &1 {
        #{$root}__info {
          top: rem(25);
        }
      }

      &2 {
        #{$root}__info {
          bottom: rem(25);
        }
      }

      &3 {
        #{$root}__info {
          bottom: rem(25);
        }
      }

      &4 {
        #{$root}__info {
          top: rem(25);
        }
      }

      &2,
      &3 {
        #{$root}__arrowNumber {
          top: rem(73);
        }
      }

      &1,
      &4 {
        #{$root}__arrowNumber {
          bottom: rem(76);
        }
      }
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    height: rem(70);
    padding: rem(10) rem(20);
    color: $color-madison;
    font-size: rem(14);
    font-style: italic;
    line-height: rem(17);
    text-align: center;
    background-color: $grey-lightest;
    border: rem(1) dotted $grey-lighter;
    border-radius: rem(24);
  }

  &__listeners {
    display: flex;

    @include desktop {
      position: absolute;
      bottom: rem(10);
    }

    > * {
      margin-right: rem(10);
      margin-left: rem(10);
    }
  }

  &__square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(80);
    height: rem(80);
    color: $color-madison;
    font-weight: $weight-bold;
    font-size: rem(20);
    background-color: $white;
    border-radius: rem(20);
    box-shadow: 0 rem(4) rem(8) 0 rgba($grey-light, 0.5);

    @include desktop {
      margin-top: rem(10);
      margin-bottom: rem(10);
    }

    &.-big {
      width: rem(152);
      height: rem(152);
    }

    &.-tool {
      width: rem(204);
      height: rem(204);
      background: $gradient-alpha;

      svg {
        &:first-child {
          width: rem(94);
          height: rem(81);
        }

        &:last-child {
          width: rem(78);
          height: rem(28);
          margin-top: rem(10);
        }
      }
    }
  }
}
