.slider {
  $root: &;

  &.-removeDots #{$root}__dots {
    display: none;
  }

  &__dots {
    margin-top: rem(60);

    &Wrap {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    &Item {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rem(12);
      height: rem(12);
      margin: 0 rem(5);
      text-decoration: none;
      background-color: #d8d8d8;
      border-radius: 50%;
      transition: background-color .3s;

      &.-isActive {
        background-color: $color-astronaut;
      }
    }
  }

  &__slide {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: rem(50);
    scroll-snap-align: start;
  }

  &__track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; // to hide scrollbar on Firefox

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
