header.header
  .container.-initialPosition
    .header__container

      // Hamburger icon for mobile
      input#header__button.header__button(type='checkbox')
      label.header__icon(for='header__button')
        span.header__iconLines

      // Branding
      .header__branding
        // SEO
        h1.is-sr-only Heart
        // Logotype
        .header__brandingLogo
          +svg('branding-logo')
        .header__brandingNameAuthor
          .header__brandingName
            +svg('branding-name')
          .header__brandingAuthor by Fabernovel

      // Navigation
      -
        const menu = [
          { label: 'Heart', route: '#' },
          { label: 'Functioning', route: '#' },
          { label: 'Modules', route: '#' },
          { icon: 'gitlab', route: 'https://gitlab.com/fabernovel/heart/', blank: true }
        ]

      nav.header__navigation(role='navigation', aria-label='navigation')
        ul.header__navigationList
          each item, index in menu
            li.header__navigationItem
              - const linkAttributes = {}
              if item.blank
                - linkAttributes.target = '_blank'
                - linkAttributes.rel = 'noreferrer'
              a.header__navigationLink(href=item.route)&attributes(linkAttributes)
                if item.icon
                  +svg(item.icon)
                else
                  span=item.label
