header.header
  .container.-initialPosition
    .header__container
      //- Hamburger icon for mobile
      input#header__button.header__button(type="checkbox")
      label.header__icon(for="header__button")
        span.header__iconLines

      //- Branding
      .header__branding
        //- SEO
        h1.is-sr-only Heart
        //- Logotype
        .header__brandingLogo
          +svg('branding-logo')
        .header__brandingNameAuthor
          .header__brandingName
            +svg('branding-name')
          .header__brandingAuthor by Fabernovel

      //- Desktop navigation
      +navigation.is-hidden-mobile

      //- Mobile sidebar
      +navigation.-isSidebar.is-hidden-tablet
