mixin navigation()
  -
    const menu = [
      { label: 'Heart', route: '#in-few-words' },
      { label: 'Functioning', route: '#how-it-works' },
      { label: 'Compatible services', route: '#compatible-services' },
      { icon: 'gitlab', route: 'https://gitlab.com/fabernovel/heart/', blank: true }
    ]

  nav.header__navigation(role='navigation', aria-label='navigation')&attributes(attributes)
    ul.header__navigationList
      each item, index in menu
        li.header__navigationItem
          - const linkHeaderAttributes = {}
          if item.blank
            - linkHeaderAttributes.target = '_blank'
            - linkHeaderAttributes.rel = 'noreferrer'
          a.header__navigationLink(href=item.route)&attributes(linkHeaderAttributes)
            if item.icon
              +svg(item.icon)
            else
              span=item.label
